#calculations {
  background-color: #faaa66;

  .unsetNoc {
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    a {
      font-weight: 900;
    }
  }

  .summary_wrapper {
    border: none;
    border-top: 1px solid black;
    background: white;
    height: min-content;
  }
}
